!!! 5
%html(lang="en")
  %head
    = render 'shared/head'

  %body
    %header.navbar.navbar-static-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Reqspec', root_path, class: :brand
          .container.nav-collapse
            %ul.nav
              %li= link_to "Link 1", "#"
              %li= link_to "Link 2", "#"
              %li= link_to "Link 3", "#"

    %section.container
      .row
        .span9
          = bootstrap_flash
          = yield
        .span3
          .well.sidebar-nav
            %h3 Sidebar
            %ul.nav.nav-list
              %li.nav-header Sidebar
              %li= link_to "Link 1", "#"
              %li= link_to "Link 2", "#"
              %li= link_to "Link 3", "#"

      %footer
        %p &copy; ysawa lab. 2013
    = javascript_include_tag "application"
